@use './variables' as *;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
}

@mixin link-primary {
  display: inline-block;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid $green;
  padding-bottom: 6px;
  transition: color 0.3s ease;

  &:hover {
    color: $green;
  }
}

@mixin divider {
  width: 100%;
  height: 1px;
  margin: 3rem auto 0;
  background-color: $white;
}



