@use '../abstracts/abstracts' as *;

.contact {
    background-color: $dark-grey;
    width: 100%;
    padding-top: 20%;
    text-align: center;
    position: relative;
    overflow: hidden;

    .small-ellypse {
        position: absolute;
        pointer-events: none;
        top: 425px;
        right: 330px;
    }

    .big-ellypse {
        display: none;
    }

    &-header {
        margin-bottom: 40px;
        h2 {
            color: $white;
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            color: $light-grey;
            max-width: 450px;
            margin: 0 auto;
        }
    }

    .wrapper {
        background-color: $dark-grey;
        width: 100%;
        max-width: 1440px; 
        margin: 0 auto;    
        padding: 0 20px;
        overflow: visible;
    }

    .form {
        max-width: 450px;
        margin: 0 auto;
        padding-bottom: 60px;

        &-group {
            border: none;
            padding: 0;
            margin-bottom: 30px;
            text-align: left; 
            position: relative;
        }

        &-input {
            width: 100%;
            padding: 10px 0;
            border: none;
            border-bottom: 1px solid $white; 
            background-color: transparent;
            color: $white; 

            &:placeholder-shown {
                border-bottom-color: $white;
            }

            &:focus {
                outline: none; 
                border-bottom-color: 1px solid $green; 
                color: $white;
            }

            &:valid:not(:focus) {
               border-bottom-color: $green; 
               color: $white;
            }
            
            &:valid {
                border-bottom-color: $green;
                color: $white;
            } 

            &:not(:placeholder-shown):invalid {
                border-bottom-color: $color-error;
            }

            &:not(:placeholder-shown):invalid + .error-icon {
                display: block;
            }
            
            &:not(:placeholder-shown):valid:not(:focus) + .error-icon {
                display: none;
            }
            
            &:focus + .error-icon {
                display: none;
            }
                        
            &:not(:placeholder-shown):invalid ~ .error-message {
                display: block;
            }
            
            &:valid ~ .error-message,
            &:focus ~ .error-message {
                display: none;
            }
        }

    .error-icon {
        position: absolute;
        right: 0; 
        bottom: 10px; 
        display: none; 
    }

    .error-message {
        color: $color-error;
        font-size: 0.8em;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: -18px; 
        display: none; 
    }

       
}
    .message {
        resize: none; 
        height: 130px; 
        & textarea {
            height: 100px;
        } 
    }

    div.form-submit {
        display: flex;
        justify-content: flex-end; 
        margin-top: 50px;
    }

    .btn-submit {
        @include btn-primary;
    }

    .line {
        margin-top: 20%;
        @include divider;
    } 
}

@include breakpoint(tablet) {
    .contact {
        position: relative;

        .small-ellypse {
          display: none;
        }

        .big-ellypse {
            display: block;
            position: absolute;
            left: 0;
            bottom: 100px;
            transform: translateX(-50%);
        }
    }
}

@include breakpoint(desktop) {
  .contact {
    text-align: left;

    .small-ellypse {
        display: none;
    }

    .big-ellypse {
        position: absolute;
        display: block;
        left: 10px;
        bottom: 150px;
        transform: translateX(-50%);
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      align-items: start;
    }
  }

  .contact-header {
    margin-bottom: 0;
    max-width: 445px;

    p {
      margin: 0;
      max-width: 450px;
    }
  }

  .form {
    margin: 0;
    justify-self: end;
    max-width: 600px; 
    width: 100%;
    margin: 0;
  }


  .line {
    margin-top: 40%;
    @include divider;
  }
}