@use '../abstracts/abstracts' as *;

.languages {
  position: relative;
  margin-top: 5%;

  &::after {
    content: '';
    background-image: url('../../src/images/ellypses-right.svg');
    position: absolute;
    bottom: -180px;
    right: 0px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint(tablet) {
      width: 300px;  
    }
  }
  
&__grid {
    display: grid;
    text-align: center;
    gap: 24px;

    h2 {
        color: $white;
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
        @include breakpoint(tablet) {
            font-size: 50px;
        }
    }

    p {
        color: $light-grey;
        padding-bottom: 30px;
    }

        @include breakpoint(tablet) {
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
        }

        @include breakpoint(desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .line {
        @include divider;
        @include breakpoint(tablet) {
            display: none;
        } 
    }
}
