@use '../abstracts/abstracts' as *;

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include breakpoint(tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoint(desktop) {
    padding-left: 64px;
    padding-right: 64px;    
    max-width: 1200px;
    margin-inline: auto;
  }
}
