@use '../abstracts/abstracts' as *;

footer  {

    .container {
        background-color: $dark-grey;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding-top: 5%;
        @include breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .social-icons {
        width: 100%; 
        ul {
            display: flex;
            width: 100%;
            justify-content: center;                 
            list-style: none;
            padding: 5%;
            margin: 0; 
        }

        li {
            margin: 0 10px;
            a svg {
              fill: $white;
              transition: fill 0.3s ease;  
            }
             
            a:hover svg { 
               fill: $green;      
            }
        } 
    }
}


